.dialogs{
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.user__link{
  text-decoration: none;
}

.user__item{
  height: 30px;
  line-height: 30px;
  border: 1px solid blue;
  background-color: white;
  display: flex;
  margin-top: 5px;
}


.user__item:hover{
  background-color:#edeef0;
  cursor: pointer;
}

.user__name{
  font-size: 14px;
  color: black;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.user__item.activeUser{
  font-weight: 500;
}

.user__avatar{
  padding-left: 5px;
}

.user__avatar img{
  border-radius:30px;
}

.dialog__list{
  padding-left: 20px;
}

.dialog__item{
   height: 30px;
   line-height: 30px;
   border: 1px solid blue;
   margin-top: 3px;
 }
 
 .dialog__text{
   background-color: white;
   padding-left: 10px;
   white-space: nowrap;
   overflow: hidden;
 }